.slider *,
.slider *::before,
.slider *::after {
  box-sizing: border-box;
}

.slider body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #e0e0e0;
}

.slider input[type='range'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.slider input[type='range']:focus {
  outline: none;
}

.slider input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.slider input[type='range']::-moz-range-thumb {
  border: none;
}

.range-style {
  width: 200px;
  height: 30px;
  padding: 10px;
  background: #e0e0e0;
  border-radius: 10px;
  box-shadow: -2px -2px 8px white, 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.range-style::-webkit-slider-runnable-track {
  display: flex;
  align-items: center;
  height: 20px;
  border-radius: 10px;
  box-shadow: inset -2px -2px 8px white, inset 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.range-style::-webkit-slider-thumb {
  position: relative;
  top: -50%;
  width: 40px;
  height: 40px;
  background-color: #e0e0e0;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.8), transparent);
  border-radius: 50%;
  box-shadow: -1px -1px 2px white, 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.range-style::-moz-range-track {
  display: flex;
  align-items: center;
  height: 
